<div class="app-component">
  <div class="container">

    <div class="component-header">
      <h3>Aktuell im Kino</h3>
    </div>

    <div *ngIf="moviesResponse" class="row">
      <div *ngFor="let movie of moviesResponse.results; let i = index" class="col-lg-3 mb-4">
        <app-displaymovie [movie]="movie"></app-displaymovie>
      </div>
    </div>

    <div class="row ">
      <button (click)="goToNextPage()" class="btn nextButton ml-3 float-end"> Nächste Seite</button>
    </div>

  </div>
</div>