/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$dark: #000;
$gelb: #dffc02;
$grey: #383835;
$lightgrey: #acaca5;
$red: #f44a16;
$green: #30ad17;


html, body { 
    height: 100%;
    background-color: $dark;
    font-family: Roboto, "Helvetica Neue", sans-serif;
 }
body { margin: 0; }

html {
}
h3 {
    color: $gelb;
    padding-bottom: 1em;
    font-weight: 900;
}
h5 {
    color: $gelb;

}
.card-body {
    background-color: $grey;
    color: $lightgrey;
}


.detailButton {
    background-color: $dark;
    color: $lightgrey;
    border-radius: 0;

    :hover > & {
        color: $gelb;
        border: $gelb 2px solid;
    }
}

.nextButton {
    background-color: $dark;
    color: $gelb;
    border-radius: 0;
    margin-bottom: 4em;

    :hover > & {
        color: $gelb;
        border: $gelb 2px solid;
    }
}